# Ignore system-specific binaries
/assets/yt-dlp*
/assets/ffmpeg*
/assets/whisper-cli*
/assets/ggml-small.en.bin
/assets/*.bin

/local_dev/*

/dist/*

/GoAudioTranscriber-*/

# Ignore .whisper.cpp repo
.whisper.cpp

# Ignore Go build artifacts
*.exe
*.out
