# Ignore system-specific binaries
/assets/binaries*
/assets/models*

build

/local_dev/*

/dist/*

/GoAudioTranscriber-*/

# Ignore .whisper.cpp repo
.whisper.cpp

# Ignore Go build artifacts
*.exe
*.out
